
.reg{
    width: 205vh;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.rgform{
    background-color: #2b22222f;
    display: flex;
    box-shadow: 10px;
    box-shadow: blue;
    gap: 17px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 530px;
    width: 430px;

}
.rgform h1{
    color: #5e5c5c;
}
.rgform button{
    width: 250px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
    background: #78da86;

}

input{
    background: #eeececd4;
    width: 250px;
    color: black;
    
    height: 35px;
    border: 1px solid white;
    border-radius: 7px;

}
.rgform input{
    padding-left: 10px;
}