body{
    background: #000000;
    color: #ffffff;
}

.Navbar h2{
    margin-right: 20px;
    font-size: 20px;
    border-bottom: 2px solid white;
   
}
.Navbar{
    width: 1525px;
    height: 65px;
  
    color: #ffffff;
    display: flex;
    align-items: center;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: end; 
    gap: 25px; 
  
}
.title{
   
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
.title img{
    height: 350px;
    width: 500px;
    margin-top: 130px;
    margin-left: 220px;
}
.ok1{
   
}
.ok2{
     
}
.title p{
    font-size: 20px;
}
.title button{
    height: 40px;
    position: relative;
    top:0;
    width: 120px;
    border:1px white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background: #ffffffab;
}
.shirts{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
   justify-content: space-between;
}
.shirts img{
    height: 500px;
    width: 400px;
    margin-left: 85px;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.products h1{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 55px;
}

.footer{
    gap: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}