<form action="">
    <div class="okk">
        <div class="img">
            <img src="https://img.freepik.com/free-photo/ombre-blue-curve-light-blue-background-vector_53876-170266.jpg?ga=GA1.1.1789471885.1696178305&semt=ais_hybrid" alt="" srcset="">
        </div>

        <div  class="ok">
            <h1>Registion Form</h1>
            <input class="ini" type="text" placeholder="Enter Your name">
            <input class="ini" type="email" name="" id="" placeholder="enter your email">
            <input class="ini" type="number" placeholder="Enter your Age">
            
            <input class="ini" type="date" placeholder="Enter the date of birth" name="" id="">
            <input type="number" class="ini" placeholder="Enter your Phone number " name="" id="">
            <div class="sele">
                <p>Select Yout country</p>
                <select class="con"  name="Country" id="">
                    <option value="">INDIA</option>
                    <option value="">SRILANKA</option>
                    <option value="">AFGANISTHAN</option>
                    <option value="">BANGLADESH</option>
                    <option value="">OTHER</option>
                </select>
            </div>
            <input class="ini" type="text" placeholder="Enter the Address" name="" id="">
            <input class="ini" type="number" placeholder="Enter postal Pin" name="" id="">
            <input class="ini" type="text" placeholder="Enter your password">
            <div class="gender-selection">
                <input  type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
            </div>
            

            <button class="submitbutton" type="submit">Submit</button>
            <p>I aleredy have  <a href="/login"> account </a></p>
           
        </div>
    </div>
</form>